<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  {{#each styles}}
  <link rel="stylesheet" href="{{this}}">
  {{/each}}
</head>

<body>
  <!-- Dynamically choose the header based on language -->
  {{#if (eq (getLanguage) "fr")}}
  {{> header-fr}} <!-- Inject French header -->
  {{else}}
  {{> header-en}} <!-- Inject English header -->
  {{/if}}

  {{{body}}} <!-- The body content will be inserted here -->

  <!-- Dynamically choose the footer based on language -->
  {{#if (eq (getLanguage) "fr")}}
  {{> footer-fr}} <!-- Inject French footer -->
  {{else}}
  {{> footer-en}} <!-- Inject English footer -->
  {{/if}}

  <script type="module" src="./js/main.js"></script>
</body>

</html>